<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="CentroBiologiaMolecularUCA.SiteMaster" %>

<!DOCTYPE html>

<html lang="es">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %>Centro de Biologia Molecular</title>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/assets/scss/style.css">
    <link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <link href="/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href="/assets/sweetalert.css" rel="sweetalert"/>
     <script src="/assets/sweetalert.min.js"></script>
		<script type="text/javascript" src="/crystalreportviewers13/js/crviewer/crv.js"></script>
     <script src="/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.3.js"></script>
    <script src="/signalr/hubs"></script>

    <webopt:bundlereference runat="server" path="~/Content/css" />
 

</head>
<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
               <!--
                <a class="navbar-brand" href="../../Views/ViewLogin/Index.aspx"><img src="../../Content/images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="../../Views/ViewLogin/Index.aspx"><img src="../../images/logo2.png" alt="CBM"></a>
                -->
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="../../Views/ViewLogin/Index.aspx"> <i class="menu-icon fa  fa-stethoscope"></i>CBM UCA  </a>
                    </li>
                    <h3 class="menu-title">Sistema CBM</h3><!-- /.menu-title -->
                  
                    <!-- /Menu de control de Clientes -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-male"></i>Control de Cliente</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-plus-circle"></i><a href="../../Views/Vcli/Addcli.aspx">Agregar Cliente</a></li>
                            <li><i class="ti-search"></i><a href="../../Views/Vcli/Searchcli.aspx">Buscar Cliente</a></li>
                        </ul>
                    </li>

                    <!--/Segundo Menu, seccion de ordenes y resultados-->
                    <h3 class="menu-title">Control de Servicios</h3><!-- /Titulo del Menu -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-list-ol"></i>Control De Orden OGM</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-plus-circle"></i><a href="../../Views/Vogm/Addogm.aspx">Crear Orden OGM</a></li>
                              <li><i class="ti-search"></i><a href="../../Views/Vogm/Searchogm">Buscar Orden</a></li>
                            

                            
                        </ul>
                    </li>
                       <!--Resultados ADN-->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Control De Orden ADN</a>
                        <ul class="sub-menu children dropdown-menu">
                             <li><i class="menu-icon fa fa-plus-circle"></i><a href="../../Views/ViewOrdenMaria/AgregarOrdenAdnMulti.aspx">Crear Orden ADN Multi</a></li>
                             <li><i class="ti-search"></i><a href="../../Views/ViewOrdenMaria/BuscarMultiAdnOrden.aspx">Buscar Orden ADN humano</a></li>
                        

                            <li><i class="ti-eye"></i><a href="#">Visualizar Resultados</a></li>
                            <!--li><i class="ti-search"></i><a href="#">Buscar</a></!--li-->
                        </ul>
                    </li>

                      <!--/Tercer Menu, seccion de Resultados-->
                    <h3 class="menu-title">CONTROL RESULTADOS</h3>
                    <!-- /.Resultados OGM -->
                    <li class="menu-item-has-children dropdown">
                             <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Control de Resultados OGM</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="ti-search"></i><a href="../../Views/Vreogm/Searchreogm.aspx">Buscar Resultado Ogm</a></li>
                        </ul>
                    </li>
                        <!-- /.Resultado ADN -->
                              <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Control de Resultados ADN</a>
                        <ul class="sub-menu children dropdown-menu">
                             <li><i class="menu-icon fa fa-plus-circle"></i><a href="../../Views/ViewResultadoMaria/AgregarResultadoOgm.aspx">Crear Resultado OGM</a></li>
                            <li><i class="ti-search"></i><a href="../../Views/ViewOrdenResultadoMaria/BuscarResultadoOgm.aspx">Buscar Resultado Ogm</a></li>
                        </ul>
                    </li>
                       
                    </li>

                     <!--/Tercer Menu, seccion de reportes-->
                    <h3 class="menu-title">Reportes</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-files-o"></i>Generar Reportes</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-file"></i><a href="../../Plantilla.aspx">Nuevo reporte</a></li>
                             <li><i class="menu-icon fa fa-file"></i> <a href="../../pruebaalertas.aspx">pruebaalertas.aspx</a>Nuevo reportasadsde</li>
                        </ul>
                       
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->
    
        <div id="right-panel" class="right-panel">

        <!-- Header-->
      <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                 <strong class="col-sm-2">Centro De Biologia Molecular UCA</strong>
                        
                </div>
                </div>
                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="../../assets/imagenes/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="../../Views/Opc/Index.aspx"><i class="fa fa-wrench">&nbsp;&nbsp;</i>Configuraciones</a>
                            <a class="nav-link" href="../../Login.aspx"><i class="fa fa-sign-in">&nbsp;&nbsp;</i>Cerrar Sesion</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
   
    <script src="/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>
 

<%--     <script src="/assets/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="/assets/js/dashboard.js"></script>
    <script src="/assets/js/widgets.js"></script>--%>
    <script src="/assets/js/lib/vector-map/jquery.vmap.js"></script>
    <script src="/assets/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="/assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="/assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
       
        <script src="/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="/assets/js/lib/data-table/datatables-init.js"></script>
	<script type="text/javascript" src="/crystalreportviewers13/js/crviewer/crv.js"></script>
   
<%--                <!--Script para JqueryUi Datepicker-->
  <link rel="stylesheet" href="../../assets/css/jquery-ui.css">
  <script src="../../js/jquery.js"></script>
  <script src="../../js/jquery-ui.min.js"></script>
  <script src="../../js/datepicker-es.js"></script>
         <asp:ContentPlaceHolder ID="head" runat="server">
            </asp:ContentPlaceHolder>--%>

</body>
</html>
